@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTPro-Md.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTPro-Roman.otf);
    font-weight: 500;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTPro-Bd.otf);
    font-weight: bold;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTPro-BdIt.otf);
    font-weight: bold;
    font-style: italic;
}