html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Slide 1 */
div.swiper-slide:nth-child(1) {
    position: relative;
    background-color: #B7D6E2;
}

img.graphics-home {
    position: absolute;
    right: 45%;
    bottom: -30px;
}

img#banner-back {
    z-index: 1;
}

img#milk-bottle {
    z-index: 2;
}

img#banner-front {
    z-index: 3;
}

img#text-bubble {
    position: absolute;
    margin-right: 45%;
    right: -210px;
    bottom: 425px;
}

img#start-button {
    position: absolute;
    right: 15%;
    bottom: 220px;
    cursor: pointer;
}

/* Slide 2 */
div.swiper-slide:nth-child(2) {
    background-color: #3293AA;
}

div.food-container {
	position:absolute;
	left: auto;
	width: 100%;
	right: auto;
	bottom: 50px;
	text-align: center;
}

img.option {
	height: 150px;

}

img.option:hover {
	background: url(../images/selected.png);
}

