html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: helveticaNeue;
    src: url(fonts/HelveticaNeueLTPro-Bd.otf);
}

/* All Slides */
div.swiper-slide {
    position: relative;
}

div.title {
    margin: 70px 0;
    width: 100%;
    text-align: center;
}

div.food-container {
    width: 100%;
	top: 50%;
    text-align: center;
   
}

div.food-option {

    position: relative;
 	display: table-cell;
 	vertical-align: middle;
 	text-align: center;
 

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;	
}
 
div.food-option:hover {
    cursor: pointer;
}

div.ghost-element {
	 position: relative;
 	display: table-cell;
 	vertical-align: middle;
 	text-align: center;
}

/*div.food-option img {
	margin-left: auto;
	margin-right: auto;


}*/

div.counter {
    margin: 2px;
    position: absolute;
    background: #FF5200;
    border-radius:20px;
    width: 40px;
    height: 40px;
    right: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: "helveticaNeue";
    line-height: 45px;
    vertical-align: middle;
}

div.next {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

div.next img {
    cursor: pointer;
}

/* Slide 1 */
div.swiper-slide:nth-child(1) {
    background-color: #B7D6E2;
}

img#background {
    margin-left: 80px;
    width: 800px;
}

img.main-graphic {
    position: absolute;
    right: 45%;
    bottom: 0px;
}

img#banner-back {
    z-index: 1;
}

img#milk-bottle {
    z-index: 2;
}

img#banner-front {
    z-index: 3;
}

img#text-bubble {
    position: absolute;
    margin-right: 40%;
    right: -210px;
    bottom: 450px;
}

img#start-button {
    position: absolute;
    right: 15%;
    bottom: 220px;
    cursor: pointer;
}

/* Slide 2 */
.swiper-slide.dairy {
    background-color: #3293AA;
}

.swiper-slide.dairy div.food-option {
    width: 200px;
    height: 190px;
}

.swiper-slide.dairy div.food-option:hover {
    background: #B7D6E2;
}

/* Slide 3 */
.swiper-slide.protein {
    background-color: #ECAC20;
}

.swiper-slide.protein div.title {
    margin: 80px 0;
}

.swiper-slide.protein div.food-option {
    width: 300px;
    height: 200px;
}

.swiper-slide.protein div.food-option:hover {
    background: #D66527;
}

/* Slide 4 */
.swiper-slide.vegetables {
    background-color: #D66527;
}

.swiper-slide.vegetables div.food-option{
	width: 300px;
	height: 230px;
}


.swiper-slide.vegetables div.food-option:hover {
    background-color: #ECAC20;
}

/* Slide 5 */
.swiper-slide.fulfilled {
    background-color: #3293AA;
}

.swiper-slide.fulfilled div.text {
    position: absolute;
    top: 10%;
    left: 5%;
}

.swiper-slide.fulfilled div.skeleton {
    position: absolute;
    top: 10%;
    right: 5%;
}

.swiper-slide.fulfilled div.next {
    bottom: 50px;
}

/* Slide 6 */
.swiper-slide.failed {
    background-color: #3293AA;
}

.swiper-slide.failed div.text {
    position: absolute;
    top: 10%;
    left: 5%;
}

.swiper-slide.failed div.skeleton {
    position: absolute;
    top: 10%;
    right: 5%;
}

.swiper-slide.failed div.next {
    width: initial;
    left: 8%;
    bottom: 20px;
}