html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: helveticaNeue;
    src: url(fonts/HelveticaNeueLTPro-Bd.otf);
}

img#abh-logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 100px;
    z-index: 100;
}

/* All Slides */
div.swiper-slide {
    position: relative;
}

div.title {
    margin: 70px 0;
    width: 100%;
    text-align: center;
}

div.food-container {
    width: 100%;
	top: 50%;
    text-align: center;
   
}

div.food-option {

    position: relative;
 	display: table-cell;
 	vertical-align: middle;
 	text-align: center;
 

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;	
}
 
div.food-option:hover {
    cursor: pointer;
}

div.ghost-element {
	position: relative;
 	display: table-cell;
 	vertical-align: middle;
 	text-align: center;
}

div.counter {
    margin: 2px;
    position: absolute;
    background: #FF5200;
    border-radius:20px;
    width: 40px;
    height: 40px;
    right: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: "helveticaNeue";
    line-height: 45px;
    vertical-align: middle;
}

div.next {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

div.next img {
    opacity: .7;
}

div.next img:hover {
    cursor: pointer;
    opacity: 1.0;
}

/* Slide 1 */
div.swiper-slide:nth-child(1) {
    background-color: #B7D6E2;
}

img#background {
    margin-left: 80px;
    width: 800px;
}

img.main-graphic {
    position: absolute;
    right: 50%;
    bottom: 50px;
}

img#banner-back {
    z-index: 1;
}

img#milk-bottle {
    right: 48%;
    bottom: 0;
    z-index: 2;
}

img#banner-front {
    z-index: 3;
}

img#text-bubble {
    position: absolute;
    margin-right: 40%;
    right: -210px;
    bottom: 450px;
}

img#start-button {
    position: absolute;
    right: 15%;
    bottom: 220px;
    opacity: .7;
}

img#start-button:hover {
    cursor: pointer;
    opacity: 1.0;
}

/* Slide 2 */
.swiper-slide.dairy {
    background-color: #3293AA;
}

.swiper-slide.dairy div.food-option {
    width: 200px;
    height: 190px;
}

.swiper-slide.dairy div.food-option:hover {
    background: #B7D6E2;
}

/* Slide 3 */
.swiper-slide.protein {
    background-color: #ECAC20;
}

.swiper-slide.protein div.title {
    margin: 80px 0;
}

.swiper-slide.protein div.food-option {
    width: 300px;
    height: 200px;
}

.swiper-slide.protein div.food-option:hover {
    background: #D66527;
}

/* Slide 4 */
.swiper-slide.vegetables {
    background-color: #D66527;
}

.swiper-slide.vegetables div.food-option{
	width: 300px;
	height: 230px;
}


.swiper-slide.vegetables div.food-option:hover {
    background-color: #ECAC20;
}

/* Slide 5 */
.swiper-slide.fulfilled {
    background-color: #3293AA;
}

.swiper-slide.fulfilled div.text {
    position: absolute;
    top: 10%;
    left: 5%;
}

.swiper-slide.fulfilled div.skeleton {
    position: absolute;
    top: 10%;
    right: 5%;
}

.swiper-slide.fulfilled div.next {
    width: initial;
    bottom: 50px;
    margin-left: 230px;
}

/* Slide 6 */
.swiper-slide.failed {
    background-color: #3293AA;
}

.swiper-slide.failed div.text {
    position: absolute;
    top: 10%;
    left: 5%;
}

.swiper-slide.failed div.text img {
    height: 400px;
}

.swiper-slide.failed div.skeleton {
    position: absolute;
    top: 10%;
    right: 10%;
}

.swiper-slide.failed div.next {
    width: initial;
    left: 14%;
    bottom: 20px;
}

.swiper-slide.failed div.next img {
    height: 150px;
}

/* Info Slide */
.info-content {
    background: #B7D6E2;
}

.info-content div {
    width: 100%;
    text-align: center;
    padding: 50px 0 100px;
}

.info-content .title {
    margin: 0;
}

.info-content .whats-that img {
    cursor: pointer;
    opacity: .7;
}

.info-content .whats-that img:hover {
    opacity: 1.0;
}

.info-step img {
    height: 700px;
}

.info-step:nth-child(4) img {
    height: 600px;
}

.supplement {
    display: none;
    background: #D66527;
    padding: 50px 0;
}

.supplement div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}

.supplement .bottle img {
    height: 500px;
}

.supplement .text {
    width: 50%;
    text-align: center;
}

.supplement .text>img {
    width: 110%;
}

.supplement .text a img {
    float: left;
    height: 40px;
}

.back-to-top {
    background: #ECAC20;
    padding: 30px 0 10px;
    text-align: center;
}

.back-to-top img {
    padding: 10px 0;
}

.back-to-top a img {
    opacity: .7;
}

.back-to-top a img:hover {
    opacity: 1.0;
}

.back-to-top #attribution {
    width: 700px;
}