html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* All Slides */
div.swiper-slide {
    position: relative;
}

div.title {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

div.food-container {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    top: 45%;
    text-align: center;
}

div.food-option {
    display: inline-block;
    height: 100%;
}

div.food-option:hover {
    background: no-repeat url(../images/selected.png);
}

/* Slide 1 */
div.swiper-slide:nth-child(1) {
    background-color: #B7D6E2;
}

img.graphics-home {
    position: absolute;
    right: 45%;
    bottom: 0px;
}

img#banner-back {
    z-index: 1;
}

img#milk-bottle {
    z-index: 2;
}

img#banner-front {
    z-index: 3;
}

img#text-bubble {
    position: absolute;
    margin-right: 45%;
    right: -210px;
    bottom: 425px;
}

img#start-button {
    position: absolute;
    right: 15%;
    bottom: 220px;
    cursor: pointer;
}

/* Slide 2 */
div.swiper-slide:nth-child(2) {
    background-color: #3293AA;
}

div.food-option.dairy {
    width: 200px;
}

/* Slide 3 */
div.swiper-slide:nth-child(3) {
    background-color: #ECAC20;
}

div.food-option.protein {
    width: 300px;
}